{% extends "survey/base.html" %}
{% block content %}
<h1>Welcome to Survey Central</h1>

{% if active_surveys %}
<p>Take a survey now!</p>
<u1>
{% for survey in active_surveys %}
<li><a href="{{ survey.get_absolute_url }}">{{ survey.title }}</a>
</li>
{% endfor %}
</u1>
{% endif %}

{% if completed_surveys %}
<p>See how your opinions compared to those of others!</p>
<u1>
{% for survey in completed_surveys %}
<li><a href="{{ survey.get_absolute_url }}">{{ survey.title }}</a>
</li>
{% endfor %}
</u1>
{% endif %}

{% if upcoming_surveys %}
<p>Come back soon to share your opinion!</p>
<u1>
{% for survey in upcoming_surveys %}
<li>{{ survey.title }} opens {{ survey.opens }}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock content %}